/* 기본 레이아웃 */
body, h1, p, ul, li {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* 헤더 */
.header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 15px 0;
}

/* 메뉴 스타일 */
.container {
    width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gnb {
    display: flex;
    list-style-type: none;
    background-color: #2ecc71;
}

.gnb li {
    padding: 8px 16px;
    color: white;
}

.rank {
    list-style-type: none;
    padding: 8px;
    background-color: #f1c40f;
}

.rank li {
    padding: 8px;
    color: black;
}

/* 직사각형 레이아웃 */
.left, .right {
    height: 428px;
}

.left {
    width: 740px;
    background-color: #3498db;
}

.right {
    width: 332px;
    background-color: #e74c3c;
}

/* 푸터 */
.footer {
    background-color: #dff709;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}
